EpargneArgents.Business/bin
EpargneArgents.Business/obj
EpargneArgents.Api/bin
EpargneArgents.Api/obj
EpargneArgents.API/GeneratedCsvOutputFolder
EpargneArgents.Client.Web/bin
EpargneArgents.Client.Web/obj
**/EpargneArgents.Client-master
.vscode
.vs
.sonarqube